
:root {
    --white-- : #ffff;
    --red--: #F41111;
    --black: #000;
    --grey: #434443;
    --soft-grey: #E8E7E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', 'serif';
}


/* Nav items */
.header__container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1120px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: var(--black);
    padding-top: 2rem;
}

.nav__items {
    display: flex;
    gap: 1rem;
    
}

.nav__items > li > a{
   color: var(--white--);
   text-decoration: none;
}

.hero__container {
    width: 100%;
    max-width: 1120px;
    height: 60vh;
    display: flex;
    margin: 0 auto;
    padding-top: 2rem;
    background: url(./assets/Boxer-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    
}


.hero__title {
    font-size: 2rem;
    color: var(--white--);
    text-transform: uppercase;
    padding-left: 10rem
    
}

.hero__title > h1 {
    line-height: 3.5rem;
}

.highlight {
    color: var(--red--);
}