
:root {
    --white-- : #ffff;
    --red--: #F41111;
    --black: #000;
    --grey: #434443;
    --soft-grey: #E8E7E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', 'serif';
}


/* Nav items */
.header__container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1120px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: var(--black);
    padding-top: 2rem;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.1;
    
}


.nav__items > .nav__items--list {
    text-transform: uppercase;
    list-style: none;
}


.nav__items > .nav__items--list > a{
   color: var(--white--);
   text-decoration: none;
}

.nav__items > .nav__items--list:nth-child(5) {
    background: var(--red--);
    padding: 0.5rem;
}

/* Hero */

.hero__container {
    width: 100%;
    max-width: 1120px;
    height: 50vh;
    display: flex;
    margin: 0 auto;
    padding-top: 2rem;
    background:  linear-gradient(to right, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0.3) 70%),
    url('./assets/Boxer-1.jpg') center/cover no-repeat;
    align-items: center;
    
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); */
    
}




.hero__title {
    font-size: 2.2rem;
    color: var(--white--);
    text-transform: uppercase;
    padding-left: 10rem
    
}

.hero__title > h1 {
    line-height: 3.5rem;
}

.highlight {
    color: var(--red--);
}

/* icon box */
.icons {
    width: 100%;
    max-width: 740px;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--white--);
    padding: 2rem 4rem;
    margin-top: -50px;
    
}

.icons__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    
}

.icon {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.2rem
}

.icon__title {
    color: var(--red--);
}